.Rproj.user
.Rhistory
.RData

data/noba.nuhdata.log2.p10.psl.rda
data/noba.nuhdata.log2.p10.rda
data/noba.nuhdata.log2.rda
data/noba.uhdata.log2.p10.psl.rda
data/noba.uhdata.log2.p10.rda
data/noba.uhdata.log2.rda
